#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp C_PREV   &kp C_PP    &kp C_NEXT
                &kp K_COPY   &kp K_PASTE &kp K_UNDO &kp K_REDO
            >;
        };
    };
};